---
layout: default
---

{% include home-header.html %}

<h1>{{ page.title }}</h1>

<p>
<h2>Tsinghua University, China</h2>
<h3>Sep 2022 - Jun 2025 (Expected)</h3>
<h3>Joint master</h3>
Led and completed a mapping project for a long-term local climate zone dataset in China, with primary responsibility for research on the urban thermal environment. Assisted the advisor and research group in daily tasks, participated in 3 academic presentations and weekly discussions, and authored multiple manuscripts focused on local climate zone dataset.
</p>

<p>
<h2>Advent Software (Beijing) Co., Ltd., China</h2>
<h3>Apr 2022 - Jul 2022</h3>
<h3>Quality Assurance Department internship</h3>
Accumulated over 600 hours of total work time, identified and reported more than 300 bugs and functional issues in financial web pages and software products (based on C# programming language). Completed approximately 10 log documents, participated in 2 project presentations and weekly summary discussions, getting great recognition by co-workers and manager.
</p>

<p>
<h2>TAL Education Group Co., Ltd., China</h2>
<h3>Apr 2019 - Mar 2022</h3>
<h3>Part-time teaching assistants and one-on-one lecturer</h3>
Served as a teaching assistant for multiple subjects including Chinese, mathematics, English and physics at the middle school level, as well as a one-on-one geography tutor. Accumulated over 1,000 hours of total work time, assisted more than 600 students with their queries, and received unanimous praise from both students and parents.
</p>
