---
layout: default
---

{% include home-header.html %}

<h1>{{ page.title }}</h1>

<p>
<h2>Languages</h2>
Chinese (native); English (CET-4; CET-6; IELTS: 6.5 in total)
</p>

<p>
<h2>Programming languages</h2>
Python, JavaScript, MATLAB, NCL, SQL, HTML
</p>

<p>
<h2>Professional skills</h2>
Proficient in using professional software and platforms such as ArcGIS, Google Earth Engine (GEE), ENVI, Weather Forecast and Research (WRF) model, SAGA GIS, QGIS, GeoDa, Google Earth, Fragstats, Geodetector, etc.; Familiar with machine learning and deep learning models such as Random Forest, XGBoost, ANN, etc.
</p>

<p>
<h2>Other skills</h2>
Master office software such as Origin, Endnote, Office and Photoshop; Served as the chairman of the literature department of school from 2019 to 2020, demonstrating strong leadership, and social skills; Proficient in various types of writing, authored over 50 articles for the school's official platform, achieving a total view count of over 100,000.
</p>

<p>
<h2>Interests</h2>
Swimming, music, writing and traveling
</p>
