---
layout: default
---

{% include home-header.html %}

<h1>{{ page.title }}</h1>

<p>
<h2>2023</h2>
<h3>CNPC Scholarship (30 spots available in the whole school)</h3>
<h3>First Prize Scholarship for Graduate (accounting for 10% of the entire major)</h3>
<h3>Merit student (accounting for 5% of the entire major)</h3>
</p>

<p>
<h2>2022</h2>
<h3>Beijing University Student Humanities Knowledge Competition Ancient Poetry Single Award</h3>
<h3>First prize in CUGB poetry competition</h3>
<h3>First prize in CUGB creative writing competition</h3>
</p>

<p>
<h2>2021</h2>
<h3>Two second prizes and one third prize from National College Digital Art and Design Awards (NCDA)</h3>
<h3>Third Prize in Beijing Division of the 7th China International College Students’ “Internet+” Innovation and Entrepreneurship Competition</h3>
<h3>Academic Progress Scholarship (accounting for 3% of the entire major)</h3>
</p>

<p>
<h2>2020</h2>
<h3>Most Influential Award in CUGB Innovation and Entrepreneurship Competition</h3>
<h3>Merit student (accounting for 5% of the entire major)</h3>
</p>
